{% extends 'base.html' %}

{% block content %}


<canvas></canvas>
<h2>Signup</h2>

<div class="form-wrapper">
  <form onsubmit="return false;">
    <label for="name">Full Name</label>
    <input type="text" id="name">
    
    <label for="email">Choose a Username</label>
    <input type="text" id="username">
    
    <label for="email">State</label>
    <input type="text" id="state">
    
    <label for="email">Experience Level</label>
    <input type="text" id="experience">
    
    <label for="email">Email</label>
    <input type="text" id="email">
    
    <label for="password">Password</label>
    <input type="password" id="password">
    
    
    <button>Sign up</button>
  </form>
</div>

{% endblock %}